{{ partial "header.html" . }}

    <div class="article-meta">
        <h1>{{ .Title | markdownify }}
            <small>
                {{- if (gt .Params.date 0) }}<span class="date">{{ .Date.Format "02 January 2006" }}</span>{{ end }}
                {{- if .Params.tags }}
                    in
                    {{- range $k, $v := .GetTerms "tags" }}
                        {{- if $k }}, {{ end }}
                        <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
                    {{- end }}
                {{- end }}
            </small>
        </h1>
    </div>

    <main>
        {{ .Content }}
    </main>

{{ partial "footer.html" . }}
