<ul>
    {{- $pages := .Pages }}
    {{- if .IsHome }}{{ $pages = (where .Site.RegularPages "Section" "eq" "articles") }}{{ end }}
    {{- range (where $pages "Section" "!=" "") }}
    <li class="article-list">
        <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        <small><span class="date">{{ .Date.Format "02 January 2006" }}
        {{- if .Params.tags }}
            in
            {{- range $k, $v := .GetTerms "tags" }}
                {{- if $k }}, {{ end }}
                <a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
            {{- end }}
        {{- end }}
        </span></small>
    </li>
    {{- end }}
</ul>