        <footer>
            {{ partial "foot_custom.html" . }}
            <hr>
            <p>
                <strong>{{ .Site.Title }}</strong> &copy; {{ now.Year }}
                {{- with .Site.Params.contentLicense }}
                {{ . | markdownify }}
                {{- end }}
            </p>
            {{- with .Site.Menus.footer }}
            <p>
            {{- range $k, $v := . }}
                <small>{{- if ne $k 0 }} | {{ end }}<a href="{{ .URL | relURL }}">{{ .Name }}</a></small>
            {{- end }}
            </p>
            {{- end }}
        </footer>
    </body>
</html>
